@import '../../variables.less';

.search-bar {
   border-radius: 8px;
   display: flex;
   align-items: center;
   border: 1px solid @primaryColor;
   padding: .4rem;

   input {
      font-family: @baseFonFamily;
      border: none;
      outline: none;
      font-size: 16px;
   }
}